.info {
	text-align: left;
}

.pagetitle {
	text-align: right;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.biglink {
	text-decoration: underline;
	color: #ccc;
	transition: 0.3s;
	font-size: 120%;
}

.biglink:hover {
	color: #fff;
	font-style: normal;
	transition: 0.3s;
	font-size: 500%;
}

.tiny {
	font-size: 75%;
	color: #aaa;
	transition: 0.3s;
}

.tiny:hover {
	font-size: 100%;
	color: #aaa;
	transition: 0.3s;
}

.bad {
	font-size: 110%;
	color: red;
}

.good {
	font-size: 110%;
	color: #2f2;
}

.header {
	text-decoration: underline;
}

.man {
	text-decoration: underline;
}

body {
	background-color: #222;
	color: #aaa;
	font-family: "Lucida Console", "Courier New", monospace;
}

h1, p, ul {
	text-align: center;
}

a {
	text-decoration: none;
	color: #aaa;
	transition: 0.3s;
}

a:hover {
	color: #ccc;
	font-style: normal;
	transition: 0.3s;
}