.center {
	margin: auto;
	width: 50%;
	padding: 10px;
}

.collapsible {
	background-color: #555;
	color: #eee;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.3s;
}

.active, .collapsible:hover {
	background-color: #666;
	transition: 0.3s;
}

.collapsible:after {
	content: '\02795';
	font-size: 13px;
	color: white;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2796";
}

.content_div {
	padding: 0 18px;
	overflow: hidden;
	background-color: #aaa;
	max-height: 0;
	transition: max-height 0.2s ease-out;
}

.content {
	color: #333;
	font-size: 15px;
	text-align: left;
}

.content_link {
	color: #555;
	font-size: 15px;
	text-align: left;
	transition: 0.3s;
}

.content_link:hover {
	color: #333;
	transition: 0.3s;
}

.content_list {
	color: #333;
	font-size: 15px;
	text-align: left;
}

.collapsible_group {
	margin: auto;
	width: 25%;
	padding: 10px;
}

body {
	background: linear-gradient(0deg, #202020 0%, #404040 100%) fixed;
	font-family: Helvetica, sans-serif;
}

h1, p, ul {
	color:  white;
	text-align: center;
}

h2 {
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: #aaa;
	transition: 0.3s;
}

a:hover {
	color: #ccc;
	font-style: normal;
	transition: 0.3s;
}

table, th, tr, td {
	color:  white;
	border: 1px solid white;
	border-collapse: collapse;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

em {
	font-family: Courier New, monospace;
	font-style: normal;
}

a.hover_img img {
	display: none;
}

a.hover_img:hover img {
	display: block;
}